# Google Cloud
GCP_PROJECT=
META_PATH="gs://arc-institute-virtual-cell-atlas/scbasecount/2026-01-12/metadata/GeneFull/Homo_sapiens"
H5AD_PATH="gs://arc-institute-virtual-cell-atlas/scbasecount/2026-01-12/h5ad/GeneFull/Homo_sapiens"

# Cloudflare R2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ENDPOINT_URL=
BUCKET=

# NCBI
NCBI_API_KEY=

# Cytetype
CYTETYPE_API_KEY=