# Environments
.venv*/
__pycache__/

# Data
data/

# Runs
nohup.out

# Personal notes
DailyNotes.md

# Cursor
.cursor/
cursor_plans/

# Symlinks
cluster_validation_sandbox/datasets_summary

# Other
docs/resources/project_plan/v2/PH_notes.md